@import "tailwindcss";

:root {
  --background: #efedec;
  --hightlight: #feb81e;
  --shade-gelap: #3f4348;
  --random: #c89c77;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-poppins);
}
